:root{
    --text: #f3eff5;
    --background: #08050a;
    --primary: #a558df;
    --secondary: #512970;
    --accent: #34174f;
}

.side-bar{
    background-color: var(--primary);
}

.header{
    background-color: var(--secondary);
}

.main-content{
    background-color: var(--accent);
}